body, html {
  background-color: darkslategray;
  height: 100%;
  margin: 0;
  padding:0;
  width: 100%;
  color: white;
}
.todo-details {
  display:flex;
  flex-direction:column;
  color: black;

  header {
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      padding:.5em 1em;
  }

  .item {
      flex:1;
      padding: 1em;
      color: black;
  }

}

.todo {

  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  margin: 2em;
  color: white;

  form {

      display:flex;
      flex-direction:column;
      margin-right: 2em;
      color: white;

      label {
          display: flex;
          flex-direction:column;
          margin-bottom: 1em;
          color: white;
      }
  }

  ul {
      list-style-type:none;
      margin:0;
      padding:0;
      color: white;

      li {

          align-items: center;
          display:flex;
          flex-direction:row;
          font-size: .75em;
          margin: .75em .5em;
          color: white;

          &.complete-true {
            span {
              background: cornflowerblue;
              text-decoration:line-through;
              &:hover {
                 background: seagreen;
              }
            }
          }

          span {
              background: #e0e0e0;
              cursor:pointer;
              &:hover {
                  background: green;
                  color: white;
              }
          }
           span, input {
               border: .5px solid #eee;
               display:inline-block;
               padding: .2em .25em;
               width: 300px;
               color: black;
           }

          button {
              background: white;
              border: 2px black;
              color:blue;
              cursor:pointer;
              padding:0;
              margin: 0 .75em;
          }
      }
  }

}